@{
    ViewData["Title"] = "News";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success mt-5" style="margin: 10px 0" asp-controller="News" asp-action="Create">Create</a>
    </div>
</div>

<h2>There are no news in database</h2>